html, body {
    height: 100%;
    background-color: #F6F6F6;
}

.content {
    background-color: #FFF;
}

.Resizer {
    background: #000;
    opacity: .2;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}

 .Resizer:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

 .Resizer.horizontal {
    height: 11px;
    margin: -5px 0;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
}

.Resizer.horizontal:hover {
    border-top: 5px solid rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
    width: 11px;
    margin: 0 -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
}

.Resizer.vertical:hover {
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}

#app-panel, #app, #editor-tab-panel {
    height: 100%;
}

#file-panel {
    display: flex;
    flex-flow: column;  
    height: 100%;
}

#file-container {
    overflow-y: scroll;
    height: 100%;
}

#macro-tab {
    padding-top: 20px;
    /*display: flex;
    flex-flow: column;*/
}

#editor-container {
    height: 100%;
    width: 100%;
    /*height: 300px;*/
    /*height: calc(100% - 50px);*/
}

#central-container {
    height: 100%;
}

#editor-tab {
    /*padding-top: 20px;*/
    /*height: 100%;*/
    /*
    550.750
    */
    height: calc(100% - 50px);
}

#editor-panel {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

#stdout-panel {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
}

#stdout-container {
    background-color: #444;
    overflow-y: scroll;
    height: 100%;
    padding: 10px;
    font-family: Consolas;
}

.split {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

.split.split-horizontal,
.gutter.gutter-horizontal {
    height: 100%;
    float: left;
}
.gutter {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50%;
}
.gutter.gutter-horizontal {
    cursor: col-resize;
}
.gutter.gutter-vertical {
    cursor: row-resize;
}